@use "./../../variables/variables" as v;

#actor-summary {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    #actor-summary-header {
        display: grid;
        grid-template-columns: [grid-thumb] minmax(map-get(v.$heights, "actorthumbheight"), 1fr)  
                               [grid-rest] 3fr;
        gap: 1rem;
        @media only screen and (max-width: map-get(v.$breakpoints, "desktop")) {
            display: flex;
            flex-direction: column;
        }
        #actor-thumbnail {
            width: 100%;
            height: auto;
            align-self: center;
            @media only screen and (max-width: map-get(v.$breakpoints, "desktop")) {
                width: map-get(v.$heights, "actorthumbheight")
            }
        }
    }
    #actor-summary-attrs {
        display: grid;
        grid-template-columns: [grid-thumb] minmax(map-get(v.$heights, "actorthumbheight"), 1fr) 
                               [grid-rest] 3fr;
        gap: .5rem;
        @media only screen and (max-width: map-get(v.$breakpoints, "desktop")) {
            display: flex;
            flex-direction: column;
            gap: .25rem;
        }
    }
}