@use "./../../variables/variables" as v;

#editor-container {
    min-height: map-get(v.$heights, "outlinerheight");
    @include v.container-flex(map-get(v.$heights, "outlinerheight"));
    #editor {
        background-color:  map-get(v.$colors, "containviewcolor");
        overflow: auto;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 1rem;
        @media only screen and (max-width: map-get(v.$breakpoints, "tablet")) {
            max-height: 400px;
        }
        #editor-empty {
            text-align: center;
            align-self: center;
        }
        #editor-actor-summary {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 1.5rem;
            @media only screen and (max-width: map-get(v.$breakpoints, "desktop")) {
                gap: 2rem;
                height: fit-content;
            }
        }
        #editor-actor-summary-attrs, #editor-actor-summary-header {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
        #editor-actor-summary-attrs > .editor-item {
            @media only screen and (max-width: map-get(v.$breakpoints, "desktop")) {
                gap: .25rem;
            }
        }
        #editor-actor-summary-attrs {
            gap: 1em;
            @media only screen and (min-width: map-get(v.$breakpoints, "desktop")) {
                padding-bottom: 1em;
            }
        }
        #editor-thumbnail-background {
            width: fit-content;
            height: fit-content;
            line-height: 0;
            align-self: center;
            background-color: white;
            @media only screen and (max-width: map-get(v.$breakpoints, "desktop")) {
                width: map-get(v.$heights, "actorthumbheight")
            }
            #editor-thumbnail-blend {
                position: relative;
                width: 100%;
                mix-blend-mode: normal;
                //mask-image: url("./../imgs/box-thumb.png");
                //-webkit-mask-box-image: url("./../imgs/box-thumb.png");
                #editor-thumbnail-base {
                    position: relative;
                    width: 100%;
                    height: auto;
                    mix-blend-mode: multiply;
                    opacity: 50%;
                }
                #editor-thumbnail {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    mix-blend-mode: hard-light;
                    opacity: 50%;
                }
            }
        }
        .editor-item {
            display: grid;
            grid-template-columns: [grid-thumb] minmax(map-get(v.$heights, "actorthumbheight"), 1fr)  
                                    [grid-rest] 3fr;
            gap: 1rem;
            font-size: 1em;
            @media only screen and (max-width: map-get(v.$breakpoints, "desktop")) {
                display: flex;
                flex-direction: column;
            }
            label {
                text-align: center;
                word-wrap: break-word;
                font-size: 1em;
            }
        }
    }
}