@use "./../../variables/variables" as v;

#gui-layout {
    background-color: map-get(v.$colors, "guicolor");
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content
                        min-content
                        minmax(map-get(v.$heights, "outlinerheight"), 40vh)
                        min-content
                        min-content;
    padding: 2rem 1.5rem;
    @include v.break-flex-column(flex-start);
    #brand {
        color:  map-get(v.$colors, "fontcolor");
        height: map-get(v.$heights, "brandheight");
        font-size: 2.5em;
        span {
            font-weight: bold;
        }
        @media only screen and (max-width: map-get(v.$breakpoints, "tablet")) {
            display: flex;
            justify-content: center;
            flex-direction: row;
            font-size: 2.5rem;
        }
    }
    #gui-add {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        @include v.break-flex-column(center);
    }
    #gui-browse {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
        @include v.break-flex-column(center);
    }
    #gui-toggle {
        display: grid;
        grid-template-columns: [grid-empty] 1fr [grid-toggle] 2fr;
        gap: 1rem;
        @include v.break-flex-column("center");
    }
    #export {
        display: grid;
        grid-template-columns: [grid-camera] 1fr [grid-export] 2fr;
        gap: 1rem;
        @include v.break-flex-column("center");
        @media only screen and (max-width: map-get(v.$breakpoints, "tablet")){
            gap: .75rem;
        }
        button {
            align-self: center;
            @media only screen and (max-width: map-get(v.$breakpoints, "tablet")){
                align-self: stretch;
            }
        }
    }
}