@use "./../../variables/variables" as v;

#outliner-container {
    min-height: map-get(v.$heights, "outlinerheight");
    @include v.container-flex(map-get(v.$heights, "outlinerheight"));
    #outliner {
        background-color: map-get(v.$colors, "containviewcolor");
        overflow: auto;
        flex-grow: 1;
        @media only screen and (max-width: map-get(v.$breakpoints, "phone")) {
            max-height: 270px;
        }
        .outliner-category, .outliner-item {
            white-space: pre;
            padding: .125rem .375rem;
            text-transform: capitalize;
            &:hover {
                cursor: pointer;
            }
        }

        .outliner-category:hover {
            background-color: map-get(v.$colors, "themecolorhoverone");
        }
        .outliner-item:hover {
            background-color: map-get(v.$colors, "themecolorhovertwo");
        }
        .outliner-category-selected, .outliner-category:active  {
            background-color: map-get(v.$colors, "themecolorone");
        }
        .outliner-item-selected, .outliner-item:active {
            background-color: map-get(v.$colors, "themecolortwo");
        }
        .outliner-hidden {
            color: map-get(v.$colors, "disablecolor");
        }
    }
}