@use "./../../variables/variables" as v;

#outliner-container {
    min-height: map-get(v.$heights, "outlinerheight");
    @include v.container-flex(map-get(v.$heights, "outlinerheight"));
    #outliner {
        background-color: map-get(v.$colors, "containviewcolor");
        overflow: auto;
        flex-grow: 1;
        @media only screen and (max-width: map-get(v.$breakpoints, "phone")) {
            max-height: 270px;
        }
        .outliner-item {
            white-space: pre;
            padding: .125rem .375rem;
            &:hover, &:active {
                cursor: pointer;
                background-color: map-get(v.$colors, "themecolorhover");
            }
        }
        .outliner-category-selected {
            background-color: map-get(v.$colors, "themecolorone");
        }
        .outliner-item-selected {
            background-color: map-get(v.$colors, "themecolortwo");
        }
        .outliner-hidden {
            color: map-get(v.$colors, "disablecolor");
        }
    }
}