@use "./../../variables/variables" as v;

#toggle-container {
    grid-column: grid-toggle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 0rem;
    gap: .5rem;
    button {
        align-self: flex-end;
    }
    .toggle {
        min-width: map-get(v.$widths, "togglewidth");
        label {
            text-transform: capitalize;
        }
    }
    .toggle-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .toggle-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-left: 0; 
        margin-right: auto;
        padding: .5rem 0rem;
        gap: .5rem;
    }
}