$colors: (
    bgcolor: white,
    disablecolor: grey,
    fontcolor: black,
    guicolor: #F2F2F2,
    buttoncolor: #C8C8C8,
    labelcolor: #4F4F4F,
    containviewcolor: #E0E0E0,
    scrollcolor: #B4B4B4,
    canvascolor: #E0E0E0 // duplicated in constants.js file
);

$breakpoints: (
    phone: 640px,
    tablet: 768px,
    desktop: 1024px
);

$heights: (
    brandheight: 64px,
    buttonheight: 32px,
    dropdownheight: 114px,
    outlinerheight: 240px,
    togglelayoutheight: 64px
);

@mixin phone-flex-column($justify-content-value) {
    @media only screen and (max-width: map-get($breakpoints, "phone")) {
        display: flex;
        justify-content: $justify-content-value;
        flex-direction: column;
    }
}

@mixin container-flex($min-height-value) {
    min-height: $min-height-value;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em 0em;
    gap: .5em;
}