$colors: (
    bgcolor: white,
    disablecolor: grey,
    fontcolor: black,
    themecolorone: #FF5500,
    themecolortwo: #FFAA00,
    themecolorhoverone: #FF8800,
    themecolorhovertwo: #FFCC00,
    guicolor: #F2F2F2,
    buttoncolor: #BBBBBB,
    containviewcolor: #E0E0E0,
    scrollcolor: #8F8F8F,
    inputcolor: #C8C8C8,
    slidertrackcolor: #BBBBBB,
    sliderthumbcolor: #4F4F4F,
    canvascolor: #888888 // duplicated in constants.js file
);

$breakpoints: (
    phone: 640px,
    tablet: 768px,
    desktop: 1024px
);

$widths: (
    scrollwidth: 16px,
    buttonwidth: 32px,
    togglewidth: 80px,
    attrmidwidth: 64px,
    sliderthumbwidth: .5rem,
);

$heights: (
    brandheight: 64px,
    buttonheight: 32px,
    dropdownheight: 114px,
    outlinerheight: 240px,
    togglelayoutheight: 96px,
    actorthumbheight: 108px,
    attrheight: 26px,
    slidertrackheight: .4rem,
    sliderthumbheight: 1.75rem,
);

@mixin phone-flex-column($justify-content-value) {
    @media only screen and (max-width: map-get($breakpoints, "phone")) {
        display: flex;
        justify-content: $justify-content-value;
        flex-direction: column;
    }
}

@mixin container-flex($min-height-value) {
    min-height: $min-height-value;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 0rem;
    gap: .5rem;
}